@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, a, a:hover, a:focus, a:active {
  text-decoration: none;
  outline: none;
  color: white;
}

a, a:active, a:focus {
  text-decoration: none;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  text-decoration: none;
  color: lightgrey;
  padding: 0;
  margin: 0;
  font-family: "Bebas Neue", sans-serif;
  font-size: 60px;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  height: 100%;
}

main {
  background-color: white;
  display: flex;
  flex-direction: column;
}

html, body {
  width: 100%;
  display: table;
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

p {
  font-size: 2rem;
}

ul {
  list-style: none;
}

form {
  font-size: 1.5rem;
}

input::placeholder {
  font-size: 1.2rem;
}

input[type=text] {
  font-size: 14px;
}

form {
  padding-bottom: 5rem;
}

/* NAVBAR */
header {
  width: 100%;
  position: fixed;
}

nav {
  z-index: 1;
  position: fixed;
  width: 100%;
  background: rgb(102, 4, 4);
  background: linear-gradient(90deg, rgb(102, 4, 4) 8%, rgb(0, 0, 0) 85%, rgb(93, 2, 2) 100%);
}

.nav-grid-btn {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  margin: 1rem 0;
  place-items: center;
  column-gap: 5rem;
}
.nav-grid-btn button {
  background: rgb(0, 0, 0);
  border: white;
}

.main-nav-btn a {
  color: white;
  font-size: 30px;
}

/* MAIN */
.bg-intro {
  background-repeat: no-repeat;
  background: url(../imgs/assets/animate-cover1.jpg);
  padding-top: 50rem;
  padding-bottom: 50rem;
}
.bg-intro h1 {
  text-align: center;
  color: white;
  font-size: 120px;
  font-family: "Bebas Neue", sans-serif;
}
.bg-intro h3 {
  font-size: 7rem;
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  color: lightcyan;
}

.title-cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-text-intro {
  display: flex;
  flex-direction: column;
}

.flex-text-intro h1 {
  font-size: 10vw;
  color: white;
}

.flex-text-intro p {
  font-size: 5vw;
  color: white;
  text-align: center;
}

.flex-btn-center {
  display: flex;
  justify-content: center;
}

.flex-btn-center a {
  color: #24262b;
  position: sticky;
  z-index: 2;
  font-size: 3rem;
}

.flex-btn-center button {
  position: sticky;
  z-index: 2;
  border-radius: 15px;
}

.container-intro {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(85, 28, 28) 49%, rgb(0, 0, 0) 100%);
}
.container-intro iframe {
  margin-top: 10rem;
}

.intro-group h1 {
  color: lightcyan;
  font-family: "Bebas Neue", sans-serif;
}

.title-intro {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 13rem;
  margin-bottom: 3.2rem;
  font-size: 120px;
}
.title-intro h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro-style {
  display: grid;
  grid-template-columns: repeat(2, 60rem);
  column-gap: 25rem;
  margin-top: 3.2rem;
  margin-bottom: 3.2rem;
}
.intro-style h2 {
  text-align: center;
  color: white;
  font-family: "Bebas Neue", sans-serif;
}
.intro-style p {
  font-size: 15px;
  margin-top: 1rem;
  text-align: center;
  color: white;
  font-family: "Bebas Neue", sans-serif;
  border-bottom: 2px solid white;
}

.box-intro-style h2 {
  font-size: 72px;
}
.box-intro-style p {
  font-size: 35.2941176471px;
}

.intro-p {
  flex-direction: column;
  margin-top: 10rem;
  margin-bottom: 10rem;
}
.intro-p h2 {
  text-align: center;
  font-size: 72px;
  color: white;
  font-family: "Bebas Neue", sans-serif;
}
.intro-p p {
  text-align: center;
  font-size: 15px;
  margin-top: 1rem;
  font-size: 60px;
  font-family: "Bebas Neue", sans-serif;
}

/* contacto */
.contact-map-settings {
  min-width: 150vw;
  margin-bottom: -1rem;
}

.info-grid {
  display: grid;
  grid-template-columns: repeat(2, 450px);
  place-content: center;
  padding-top: 2rem;
  background-color: white;
  width: 1900px;
}
.info-grid h3 {
  font-size: 3rem;
}
.info-grid p {
  font-size: 1.5rem;
}

.contact-info {
  display: flex;
  flex-direction: column;
}

.flex-icons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.flex-icons i {
  font-size: 5rem;
}

.user-form {
  display: flex;
  flex-direction: column;
}

.msg-settings input {
  height: 100px;
}

/* PRODUCTOS */
.tienda-productos-box {
  background: url(https://images.unsplash.com/photo-1555505019-8c3f1c4aba5f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  padding-bottom: 15rem;
  background-repeat: no-repeat;
  background-size: cover;
}

.portada-tienda img {
  width: 170rem;
  height: 50rem;
  padding: 5rem;
}

.items-tienda {
  padding: 5rem;
}

.items-tienda img {
  width: 30rem;
  height: 15rem;
  margin-left: 8rem;
}

.tienda-productos-box {
  background: url(https://images.unsplash.com/photo-1555505019-8c3f1c4aba5f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  padding-bottom: 15rem;
  background-repeat: no-repeat;
  background-size: cover;
}

.newsletter-wrapper {
  background: url(../imgs/newsletter-cover.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 13rem;
  padding-left: 10rem;
  padding-right: 10rem;
  padding-bottom: 15rem;
}

.newsletter-box {
  border: 1px solid black;
  border-radius: 15px;
  padding: 12px;
  padding-bottom: 20rem;
}

.newsletter-box label input {
  width: 50rem;
  display: block;
  margin-left: 50rem;
}

.newsletter-box label {
  font-size: 2rem;
  text-align: center;
}

.newsletter-box input {
  height: 2.5rem;
}

.newsletter-form {
  padding-top: 10rem;
}

.empleado-galeria {
  padding-top: 15rem;
  padding-bottom: 15rem;
  background: url(https://i.pinimg.com/originals/e4/1e/b7/e41eb750682725518534bee5d75574af.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.empleado-galeria div {
  display: inline;
}

.empleado-box a {
  margin-left: 15rem;
}

.empleado-box img {
  border-radius: 15px;
}

.custom-bg-contacts {
  background: url(../imgs/bg-for-map.jpg);
  background-size: cover;
}

/* footer */
.btn {
  padding: 14px 25px;
  text-transform: uppercase;
  transition: all 0.8s;
}

.red-btn {
  background: #ed1b24;
  border: 2px solid #ed1b24;
  color: #fff;
}

.red-btn:hover {
  background: #1c376c;
  color: #fff;
  border-color: #ffffff;
}

/*---------footer---------*/
footer {
  background-color: #222023;
  background-image: -webkit-linear-gradient(top, #222023, #1e2c47);
  background-image: -moz-linear-gradient(top, #222023, #1e2c47);
  background-image: -o-linear-gradient(top, #222023, #1e2c47);
  background-image: linear-gradient(to bottom, #222023, #1e2c47);
  padding: 6rem;
  color: #fff;
  font-size: 17px;
}

footer h3 {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1px;
}

footer h4 {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  display: inline-block;
  margin-bottom: 2px;
}

.about-footer li i {
  position: absolute;
  left: 0;
}

.about-footer li {
  padding-left: 40px;
  position: relative;
  margin-bottom: 40px;
}

.about-footer ul {
  margin-top: 40px;
}

footer a {
  color: #fff;
}

footer a:hover {
  color: #ed1b24;
}

.footer-title {
  border-bottom: 2px solid #a61f2d;
  padding-bottom: 25px;
  margin-bottom: 35px;
}

.page-more-info li {
  margin-bottom: 31px;
}

footer .table td:first-child {
  font-weight: 600;
  padding-left: 33px;
}

footer .table td:last-child {
  text-align: right;
}

footer .table td {
  padding: 0px;
  border: 0;
}

footer .table td i {
  position: absolute;
  left: 0px;
  font-size: 21px;
  top: 6px;
}

footer .table td {
  position: relative;
  padding: 4px 0;
}

.footer-logo td {
  padding-right: 4px !important;
}

.footer-logo td:last-child {
  padding-right: 0px !important;
}

footer hr {
  border-color: #9294a0;
}

.footer-bottom p {
  text-align: right;
}

.footer-bottom {
  margin-top: 30px;
}

.open-hours hr {
  margin: 30px 0;
}

/* MEDIA QUERIES */
@media screen and (min-width: 50px) and (max-width: 963px) {
  nav {
    width: auto;
  }
  .container-intro iframe {
    margin-top: 10px;
    width: 300px;
  }
  .bg-intro {
    width: auto;
  }
  .bg-intro h1 {
    text-align: left;
  }
  .bg-intro h3 {
    text-align: left;
  }
  .title-intro {
    justify-content: left;
    align-items: start;
  }
  .intro-style p, .intro-style h2 {
    font-size: 50px;
    text-align: left;
    border-bottom: 0px;
  }
  .intro-p p, .intro-p h2 {
    text-align: left;
  }
  .box-intro-style h2 {
    font-size: 40px;
    border-bottom: 0px;
  }
  .box-intro-style p {
    font-size: 25px;
  }
}
@media only screen and (min-width: 701px) {
  /* hide the hamburger */
  .hamburger {
    display: none;
  }
  /* show all the nav-buttons */
  .nav-button {
    display: block;
  }
}
/* if browser window is small (max-width) */
@media only screen and (max-width: 700px) {
  /* show everything with the hamburger class */
  .hamburger {
    display: block;
  }
  /* hide all the nav-buttons */
  .nav-button {
    display: none;
  }
}
@media screen and (max-width: 878px) {
  .flex-text-intro {
    margin-top: 20rem;
  }
}
@media screen and (max-width: 1024px) {
  .intro-style {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media screen and (max-width: 985px) {
  .nav-center-btn {
    display: grid;
    grid-template-columns: repeat(1);
    column-gap: 12rem;
  }
  .nav-center-btn a {
    color: white;
  }
}
@media screen and (max-width: 991px) {
  .nav-grid-btn {
    display: grid;
    grid-template-columns: 150px 100px;
    place-content: start;
  }
  .nav-grid-btn button {
    height: 70px;
    width: 50px;
  }
}
@media screen and (max-width: 500px) {
  .info-grid {
    display: flex;
    justify-content: start;
    align-content: start;
    margin-left: 0;
  }
  .info-grid h3 {
    text-align: center;
    margin-left: 10rem;
  }
  .info-grid form {
    margin-left: 10rem;
  }
  .info-grid i {
    margin-left: 10rem;
  }
}
@media screen and (min-width: 320px) and (max-width: 878px) {
  .flex-text-intro {
    justify-content: center;
  }
}
@media screen and (max-width: 320px) {
  .text-cover {
    margin-top: 5rem;
  }
}
@media screen and (min-width: 50px) and (max-width: 1024px) {
  .info-grid {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

/*# sourceMappingURL=styles.css.map */
