@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200&display=swap");
.centerflex, .flex-form, .admins-section, .empleados-cover, .intro-p, .title-cover, .bg-intro {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-bg-dark {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 2rem;
}

.y-transition, header {
  animation: 1.2s ease transicionEnY;
}

.opacity-0-100, .bg-intro-content {
  animation: 2.5s ease opacity0to1;
}

.x-transicion, .empleados-cover h1 {
  animation: 1.9s ease-in-out transicionEnX;
}

.content-wrap {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, button, h2, h3, h4, h5, h6, a, a:hover, a:focus, a:active {
  font-family: "Bebas Neue", sans-serif;
  text-decoration: none;
  outline: none;
  color: white;
}

a, a:active, a:focus {
  text-decoration: none;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  text-decoration: none;
  color: lightgrey;
  font-family: "Bebas Neue", sans-serif;
}

main {
  background-color: white;
  display: flex;
  flex-direction: column;
  flex: 1;
}

html, body {
  height: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
}

ul {
  list-style: none;
}

form {
  font-size: 1.5rem;
}

/* NAVBAR */
header {
  width: 100%;
  position: fixed;
  z-index: 999;
}

nav {
  position: fixed;
  width: 100%;
  background: rgb(102, 4, 4);
  background: linear-gradient(90deg, rgb(102, 4, 4) 8%, rgb(0, 0, 0) 85%, rgb(93, 2, 2) 100%);
}

.navbar-links {
  display: flex;
  gap: 10%;
}

.brand-link {
  margin-right: 30rem;
}

/* MAIN */
.bg-intro {
  background-image: url(../imgs/bg-intro.jpeg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  width: 100%;
}

.bg-intro-content {
  text-align: center;
  color: #ffffff;
}
.bg-intro-content h1 {
  font-size: 100px;
  margin-bottom: 1rem;
}
.bg-intro-content p {
  font-size: 50px;
  margin-bottom: 2rem;
  font-family: "Bebas Neue", sans-serif;
}

.btn-bg {
  display: inline-block;
  padding: 2rem;
  background-color: black;
  text-decoration: none;
  font-weight: bold;
  border-radius: 4px;
}

.intro-p {
  gap: 30%;
}

.container-intro {
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(85, 28, 28) 49%, rgb(0, 0, 0) 100%);
}

.empleados-cover {
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  width: 100%;
  background: url(../imgs/bg-empleados.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.empleados-cover h1 {
  font-size: 100px;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}

.miembros-section {
  background-color: antiquewhite;
}
.miembros-section h5 {
  font-size: 50px;
  margin-top: 5rem;
}

.admins-section {
  gap: 20rem;
}

.employee-section {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  width: auto;
  gap: 5%;
  margin-bottom: 5rem;
}

.hover-animation {
  transition: transform 0.3s ease;
}
.hover-animation:hover {
  transform: scale(1.05);
}

.usercard {
  display: grid;
  place-items: center;
  background-color: white;
  border-radius: 15px;
  padding: 15px;
  width: auto;
}
.usercard img {
  border: #fff 2px solid;
  border-radius: 10px;
}
.usercard h5 {
  font-size: 50px;
  color: black;
  margin: 0;
}
.usercard p {
  font-family: "Bebas Neue", sans-serif;
  font-size: 30px;
}

.usercard:hover {
  background: rgb(207, 184, 194);
  background: linear-gradient(52deg, rgb(207, 184, 194) 0%, rgb(85, 46, 46) 0%);
}

/* CONTACTOS */
.bg-form {
  background: url(../imgs/background-form.jpg);
  background-size: cover;
  width: 100%;
}

.form-control {
  transition: transform 0.3s ease;
}
.form-control:hover {
  transform: scale(1.05);
}

.map-settings {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  min-width: 100vw;
}

.flex-form {
  padding-top: 3rem;
  padding-left: 20rem;
  padding-right: 20rem;
  padding-bottom: 3rem;
  margin-top: 10rem;
  margin-bottom: 10rem;
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}
.flex-form h3 {
  color: black;
  font-size: 70px;
}

.info-box {
  display: flex;
  justify-content: center;
  gap: 15%;
}

.contact-info {
  display: grid;
  grid-template-columns: repeat(2, 100px);
}

.flex-icons {
  display: flex;
  gap: 20px;
  font-size: 50px;
}

.newsletter-box {
  background: url(https://www.bodegasdomecq.com/sites/default/files/2022-01/D-newsletter-header_1.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.newsletter-box h3, .newsletter-box p, .newsletter-box label, .newsletter-box input, .newsletter-box button {
  font-family: "Oswald", sans-serif;
  color: white;
}
.newsletter-box h3 {
  font-size: 60px;
}
.newsletter-box p {
  font-size: 30px;
}
.newsletter-box input {
  max-width: 50%;
}

.button-newsletter {
  border-radius: 15px;
  background-color: blueviolet;
  width: min-content;
}

.productos-gallery {
  padding-top: 5rem;
  display: grid;
  place-items: center;
  gap: 5rem;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}

.product-card {
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  border: 2px solid black;
  transition: transform 0.3s ease;
}
.product-card img {
  border: 1px solid black;
  padding: 2rem;
}
.product-card p {
  font-family: "Bebas Neue", sans-serif;
  color: white;
  font-size: 30px;
}
.product-card span {
  font-size: 20px;
  color: white;
}
.product-card:hover {
  transform: scale(1.05);
}

.bg-products {
  background: url(../imgs/bg-products.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.footer-line {
  border-top: 1px solid white;
  margin-bottom: -7rem;
}

footer {
  min-height: 40%;
  margin-top: auto;
  background: rgb(0, 0, 0);
  background: linear-gradient(52deg, rgb(0, 0, 0) 0%, rgb(67, 6, 6) 63%, rgb(161, 15, 15) 100%, rgb(0, 0, 0) 100%);
}
footer a {
  font-size: 35px;
}
footer p {
  font-family: "Bebas Neue", sans-serif;
}

@keyframes transicionEnY {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes opacity0to1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes transicionEnX {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
/* MEDIA QUERIES */
@media screen and (max-width: 1109px) {
  .admins-section {
    flex-direction: column;
    gap: 30px;
  }
  .employee-section {
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }
}
@media screen and (max-width: 375px) {
  .bg-intro-content {
    margin-top: 5rem;
  }
}
@media screen and (max-width: 790px) {
  footer {
    min-height: 80%;
  }
}
@media screen and (max-width: 1024px) {
  .intro-style {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media screen and (max-width: 1461px) {
  .info-box {
    flex-direction: column;
    width: 350px;
  }
}
@media screen and (max-width: 585px) {
  .title-intro h1 {
    font-size: 100px;
  }
}
@media screen and (min-width: 320px) and (max-width: 878px) {
  .flex-text-intro {
    justify-content: center;
  }
}
@media screen and (max-width: 320px) {
  .text-cover {
    margin-top: 5rem;
  }
}
@media (max-width: 354px) {
  .nav-column {
    display: flex;
  }
}

/*# sourceMappingURL=styles.css.map */
